# /etc/exports: the access control list for filesystems which may be exported
#   to NFS clients.  See exports(5).
/home/teamwork/cm-prod 192.168.1.0/24(rw,sync,no_wdelay,no_subtree_check,nohide,no_root_squash)
